:global(:root) {
  --color-primary: #f2f4f3;
  --color-primary-dark: #d9e0de;
  --color-secondary: #282b4a;
  --black: #000000;
  --font-color: #000f08;
}

.container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--color-primary);
  backdrop-filter: blur(14px);
  border: 1px solid var(--color-primary-dark);
  font-family: "Montserrat", sans-serif;
  -webkit-backdrop-filter: blur(14px);
}

.input:focus {
  outline: none;
  border: 2px solid var(--color-secondary);
}

.button {
  padding: 8px 16px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .input,
  .button {
    width: 100%;
  }
}
